{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}Alternative Name{% endblock %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'archiv:altname_detail' pk=object.get_prev %}">
                                <i class="bi bi-chevron-left" title="previous"></i>
                            </a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small><a href="{{ object.get_listview_url }}">Alternative Name</a></small> {{ object }}
                        {% if user.is_authenticated %}
                            <small>
                                <a href="{% url 'archiv:altname_edit' pk=object.id %}">
                                    <i class="bi bi-pencil-square" title="edit"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'archiv:altname_delete' pk=object.id %}">
                                    <i class="bi bi-trash3" title="delete"></i>
                                </a>
                            </small>
                        {% endif %}
                    </h1>
                </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'archiv:altname_detail' pk=object.get_next %}" style="float:right">
                        <i class="bi bi-chevron-right" title="next"></i>
                    </a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            {# <div class="col-md-6"> #}
                <legend>Lorem Ipsum</legend>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            {% get_verbose_name altname "label" %}
                        </th>
                        <td>
                            {{ object.label }}
                        </td>
                    </tr>
                    {% if object.language %}
                    <tr>
                        <th>
                            {% get_verbose_name altname "language" %}
                        </th>
                        <td>
                            {{ object.language }}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            {# </div> #}
        </div>
    </div>
</div>
</div>
{% endblock %}
