{% extends "webpage/base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% load archiv_extras %}
{% block title %}Archaelogical Entity {{ object.id }}{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block content %}
<style>
    .leaflet-container {  /* all maps */
        width:  100%;
        height: 800px;
    }
</style>
<!-- <div class="container"> -->
<div class="row">
<div class="col-md-6">
    <div class="card">
        <div class="card-header archent-page">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'archiv:archent_detail' pk=object.get_prev %}">
                                <i class="fas fa-chevron-left" title="previous"></i>
                            </a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small><a href="{{ object.get_listview_url }}">Archaelogical Entity</a></small> {{ object }}
                        {% if user.is_authenticated %}
                            <small>
                                <a href="{% url 'archiv:archent_edit' pk=object.id %}">
                                    <i class="far fa-edit" title="edit"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'archiv:archent_delete' pk=object.id %}">
                                    <i class="far fa-trash-alt" title="delete"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'arche:resource_copy' %}?app-name=archiv&id={{ object.id }}&class-name=archent" class="confirmation">
                                    <i class="far fa-copy" aria-hidden="true" title="copy object"></i>
                                </a>
                            </small>
                        {% endif %}
                    </h1>
                    {% if user.is_authenticated %}
                        {% class_dict as classes %}
                        <form action="{% url 'archiv:copy_poly' %}">
                            <div class="form-group">
                                <strong>Copy polygon to:</strong>
                                <select class="custom-select" name="target-class" id="target-class">
                                    {% for key, value in classes.items %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <input id="current-id" name="current-id" type="hidden" value="{{ object.id }}">
                                <input id="current-class" name="current-class" type="hidden" value="ArchEnt">
                            </div>
                            <button type="submit" class="btn btn-primary confirmation">Copy</button>
                        </form>
                    {% endif %}
                </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'archiv:archent_detail' pk=object.get_next %}" style="float:right">
                        <i class="fas fa-chevron-right" title="next"></i>
                    </a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
                <legend>Basic Information</legend>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="w-25">
                            {% get_verbose_name archent "site_id" %}
                        </th>
                        <td>
                            <a href="{{ object.site_id.get_absolute_url }}">
                                {{ object.site_id }}
                            </a>
                        </td>
                    </tr>
                    {% if object.public %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "public" %}
                            </th>
                            <td>
                                {{ object.get_public_display }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th class="w-25">
                            {% get_verbose_name archent "name" %}
                        </th>
                        <td>
                            {{ object.name }}
                        </td>
                    </tr>
                    {% if object.ent_type %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "ent_type" %}
                            </th>
                            <td>
                                <abbr data-toggle="tooltip" data-placement="right" data-html="true" title="{% skos_info object.ent_type %}">
                                {{ object.ent_type }}
                                </abbr>
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.burial_type %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "burial_type" %}
                            </th>
                            <td>
                                <abbr data-toggle="tooltip" data-placement="right" data-html="true" title="{% skos_info object.burial_type %}">
                                {{ object.burial_type }}
                                </abbr>
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.burial_construction.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "burial_construction" %}
                            </th>
                            <td>
                                {% for x in object.burial_construction.all %}
                                    <li>
                                        <abbr data-toggle="tooltip" data-placement="right" data-html="true" title="{% skos_info x %}">
                                        {{ x }}
                                        </abbr>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.settlement_fortification.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "settlement_fortification" %}
                            </th>
                            <td>
                                {% for x in object.settlement_fortification.all %}
                                    <li>
                                         <abbr data-toggle="tooltip" data-placement="right" data-html="true" title="{% skos_info x %}">
                                         {{x }}
                                         </abbr>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.settlement_occupation %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "settlement_occupation" %}
                            </th>
                            <td>
                                 <abbr data-toggle="tooltip" data-placement="right" data-html="true" title="{% skos_info object.settlement_occupation %}">
                                {{ object.settlement_occupation }}
                                </abbr>
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.topography.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "topography" %}
                            </th>
                            <td>
                                {% for x in object.topography.all %}
                                    <li>
                                         <abbr data-toggle="tooltip" data-placement="right" data-html="true" title="{% skos_info x %}">
                                         {{x }}
                                         </abbr>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.alt_name.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "alt_name" %}
                            </th>
                            <td>
                                {% for x in object.alt_name.all %}
                                    <li>
                                        {{x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.alt_id %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "alt_id" %}
                            </th>
                            <td>
                                {{ object.alt_id }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.description %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "description" %}
                            </th>
                            <td>
                                {{ object.description }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.comment %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "comment" %}
                            </th>
                            <td>
                                {{ object.comment }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.literature.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "literature" %}
                            </th>
                            <td>
                                {% for x in object.literature.all %}
                                    <li>
                                        {{ x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.period.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name archent "period" %}
                            </th>
                            <td>
                                {% for x in object.period.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
                {% if object.type_certainty or  object.dating_certainty or object.location_certainty %}
                <legend>Certainty</legend>
                <table class="table table-bordered table-hover">
                {% if object.type_certainty %}
                    <tr>
                        <th class="w-25">
                            {% get_verbose_name archent "type_certainty" %}
                        </th>
                        <td>
                            {{ object.type_certainty }}
                        </td>
                    </tr>
                {% endif %}
                {% if object.dating_certainty %}
                    <tr>
                        <th class="w-25">
                            {% get_verbose_name archent "dating_certainty" %}
                        </th>
                        <td>
                            {{ object.dating_certainty }}
                        </td>
                    </tr>
                {% endif %}
                {% if object.location_certainty %}
                    <tr>
                        <th class="w-25">
                            {% get_verbose_name archent "location_certainty" %}
                        </th>
                        <td>
                            {{ object.location_certainty }}
                        </td>
                    </tr>
                {% endif %}
                </table>
                {% endif %}
    </div>
</div>
</div>
<div class="col-md-6">
    {% leaflet_map "yourmap" callback="window.map_init_basic" %}
    <legend>GeoJSON</legend>
    {{ object.get_geojson }}
</div>
</div><!--main row-->
<!-- </div> -->
<script type="text/javascript">
    var SiteStyle = {
        "color": "#F18C8E",
        "weight": 2,
        "opacity": 1,
        "fillOpacity": 0,
    };

    var ArchEntStyle = {
            "color": "#F0B7A4",
            "weight": 2,
            "opacity": 1,
            "fillOpacity": 0,
        };

    var ArchConvex = {
            "color": "#F0B7A4",
            "weight": 1,
            "opacity": 1,
            "fillOpacity": 0,
    };
    function map_init_basic (map, options) {
        var geojsonFeature = {{ object.get_geojson|safe }};
        var ArchEntGeoJsonLayer = L.geoJson(geojsonFeature).setStyle(ArchEntStyle);
        ArchEntGeoJsonLayer.addTo(map);
        map.fitBounds(ArchEntGeoJsonLayer.getBounds());
        {% if object.get_site_geojson %}
            var siteGeojsonFeature = {{ object.get_site_geojson|safe }};

            L.geoJson(siteGeojsonFeature).setStyle(SiteStyle).addTo(map);
        {% endif %}
    }
</script>
<script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
</script>
{% endblock %}
