{% extends "webpage/base.html" %}
{% block title %}{% endblock %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% block scriptHeader %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <style>

        .leaflet-container {  /* all maps */
            width:  800px;
            height: 800px;
        }
        }

</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            {% block objectType %} {% endblock %}
        </div>
        <div class="card-body">
             {% crispy form %}
        </div>
    </div>
</div>
{% endblock content %}
