{% extends "archiv/create_base_template.html" %}
{% block title %}
    Create/Edit {{ class_name }}
{% endblock %}

{% block objectType %}
    <h1>Create/Edit
        {% if docstring %}
            <abbr title="{{ docstring}}">{{ class_name }}</abbr>
        {% else %}
            {{ class_name }}
        {% endif %}
    </h1>
    {% if site_poly %}
        <script type="text/javascript">
            window.addEventListener("map:init", function (e) {
                var SiteStyle = {
                    "color": "#ff7800",
                    "weight": 2,
                    "opacity": 1,
                    "fillOpacity": 0,
                };
                var detail = e.detail;
                var siteGeojsonFeature = {{ site_poly|safe }};
                L.geoJson(siteGeojsonFeature, {style: SiteStyle}).addTo(detail.map);
            }, false);
        </script>
    {% endif %}
{% endblock %}
