{% extends "archiv/create_base_template.html" %}
{% block title %}
    Create/Edit {{ class_name }}
{% endblock %}

{% block objectType %}
    <h1>Create/Edit
        {% if docstring %}
            <abbr title="{{ docstring}}">{{ class_name }}</abbr>
        {% else %}
            {{ class_name }}
        {% endif %}
    </h1>
    <script type="text/javascript">
        window.addEventListener("map:init", function (e) {
            var detail = e.detail;
            L.marker([48.5, 17.5]).addTo(detail.map);
            console.log("{{ site_poly }}")
        }, false);
    </script>
{% endblock %}
