{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% load leaflet_tags %}
{% block title %}Period {{ object.id }}{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block content %}

<div class="container">
    <div class="panel panel-default procustom-panel-create">
        <div class="panel-heading procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'archiv:period_detail' pk=object.get_prev %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" title="previous"></span></a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small>Period:</small> {{ object }}
                        {% if user.is_authenticated %}
                            <small>
                                <a href="{% url 'archiv:period_edit' pk=object.id %}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit"></span>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'archiv:period_delete' pk=object.id %}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" title="edit"></span>
                                </a>
                            </small>
                        {% endif %}
                    </h1>
                </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'archiv:period_detail' pk=object.get_next %}" style="float:right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="next"></span></a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <legend>Lorem Ipsum</legend>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            {% get_verbose_name period "name" %}
                        </th>
                        <td>
                            {{ object.name }}
                        </td>
                    </tr>
                    {% if object.start_date %}
                        <tr>
                            <th>
                                {% get_verbose_name period "start_date" %}
                            </th>
                            <td>
                                {{ object.start_date }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.start_date_latest %}
                        <tr>
                            <th>
                                {% get_verbose_name period "start_date_latest" %}
                            </th>
                            <td>
                                {{ object.start_date_latest }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.end_date %}
                        <tr>
                            <th>
                                {% get_verbose_name period "end_date" %}
                            </th>
                            <td>
                                {{ object.end_date }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.end_date_latest %}
                        <tr>
                            <th>
                                {% get_verbose_name period "end_date_latest" %}
                            </th>
                            <td>
                                {{ object.start_date_latest }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.bibl %}
                        <tr>
                            <th>
                                {% get_verbose_name period "bibl" %}
                            </th>
                            <td>
                                {{ object.bibl }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.country %}
                        <tr>
                            <th>
                                {% get_verbose_name period "country" %}
                            </th>
                            <td>
                                {{ object.country }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.region.all %}
                        <tr>
                            <th>
                                {% get_verbose_name period "region" %}
                            </th>
                            <td>
                                {% for x in object.region.all %}
                                    <li>
                                        {{x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.alt_id %}
                        <tr>
                            <th>
                                {% get_verbose_name period "alt_id" %}
                            </th>
                            <td>
                                {{ object.alt_id }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.description %}
                        <tr>
                            <th>
                                {% get_verbose_name period "description" %}
                            </th>
                            <td>
                                {{ object.description }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.comment %}
                        <tr>
                            <th>
                                {% get_verbose_name period "comment" %}
                            </th>
                            <td>
                                {{ object.comment }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.public %}
                        <tr>
                            <th>
                                {% get_verbose_name period "public" %}
                            </th>
                            <td>
                                {{ object.public }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.literature.all %}
                        <tr>
                            <th>
                                {% get_verbose_name period "literature" %}
                            </th>
                            <td>
                                {% for x in object.literature.all %}
                                    <li>
                                        {{ x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.norm_id %}
                        <tr>
                            <th>
                                {% get_verbose_name period "norm_id" %}
                            </th>
                            <td>
                                {{ object.norm_id }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-md-6">
                <legend>Map</legend>
                {% leaflet_map "yourmap" callback="window.map_init_basic" %}
                <legend>GeoJSON</legend>
                {{ object.get_geojson }}
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    function map_init_basic (map, options) {
        var geojsonFeature = {{ object.get_geojson|safe }};
        L.geoJson(geojsonFeature).addTo(map);
    }
</script>
{% endblock %}
