{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% load leaflet_tags %}
{% block title %}Period {{ object.id }}{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block content %}
<style>
    .leaflet-container {  /* all maps */
        width:  100%;
        height: 800px;
    }
</style>
<!-- <div class="container"> -->
<div class="row">
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'archiv:period_detail' pk=object.get_prev %}">
                                <i class="fas fa-chevron-left" title="previous"></i>
                            </a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small><a href="{{ object.get_listview_url }}">Period</a></small> {{ object }}
                    </h1>
                </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'archiv:period_detail' pk=object.get_next %}" style="float:right">
                        <i class="fas fa-chevron-right" title="next"></i>
                    </a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="w-25">
                            {% get_verbose_name period "name" %}
                        </th>
                        <td>
                            {{ object.name }}
                        </td>
                    </tr>
                    {% if object.start_date %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "start_date" %}
                            </th>
                            <td>
                                {{ object.start_date }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.start_date_latest %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "start_date_latest" %}
                            </th>
                            <td>
                                {{ object.start_date_latest }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.end_date %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "end_date" %}
                            </th>
                            <td>
                                {{ object.end_date }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.end_date_latest %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "end_date_latest" %}
                            </th>
                            <td>
                                {{ object.end_date_latest }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.bibl %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "bibl" %}
                            </th>
                            <td>
                            {% if object.bibl != 'False' %}
                                {{ object.bibl }}
                            {% else %}
                            {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.country %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "country" %}
                            </th>
                            <td>
                                {{ object.country }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.region.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "region" %}
                            </th>
                            <td>
                                {% for x in object.region.all %}
                                    <li>
                                        {{x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.alt_id %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "alt_id" %}
                            </th>
                            <td>
                                {{ object.alt_id }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.description %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "description" %}
                            </th>
                            <td>
                                {{ object.description }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.comment %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "comment" %}
                            </th>
                            <td>
                                {{ object.comment }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.public %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "public" %}
                            </th>
                            <td>
                                {{ object.public }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.literature.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "literature" %}
                            </th>
                            <td>
                                {% for x in object.literature.all %}
                                    <li>
                                        {{ x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.norm_id %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name period "norm_id" %}
                            </th>
                            <td>
                                <a href="{{ object.norm_id }}">{{ object.norm_id }}</a>
                            </td>
                        </tr>
                    {% endif %}
                </table>
                </div>
</div>
</div>
<div class="col-md-6">
    {% leaflet_map "yourmap" callback="window.map_init_basic" %}
    <!-- <legend>GeoJSON</legend>
    {{ object.get_geojson }}
    <legend>SiteGeoJSON</legend>
    {{ object.get_site_geojson }} -->
</div>
</div>
<!-- </div> -->
<script type="text/javascript">
    function map_init_basic (map, options) {
        var geojsonFeature = {{ object.get_geojson|safe }};
        L.geoJson(geojsonFeature).addTo(map);
    }
</script>
{% endblock %}
