{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}Site{% endblock %}
{% block content %}

<div class="container">
    <div class="panel panel-default procustom-panel-create">
        <div class="panel-heading procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'archiv:site_detail' pk=object.get_prev %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" title="previous"></span></a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small>Site:</small> {{ object }}
                        {% if user.is_authenticated %}
                            <small>
                                <a href="{% url 'archiv:site_edit' pk=object.id %}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit"></span>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'archiv:site_delete' pk=object.id %}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" title="edit"></span>
                                </a>
                            </small>
                        {% endif %}
                    </h1>
                </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'archiv:site_detail' pk=object.get_next %}" style="float:right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="next"></span></a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <legend>Lorem Ipsum</legend>
                <table class="table table-bordered table-hover">
                    {% if object.identifier %}
                        <tr>
                            <th>
                                {% get_verbose_name site "identifier" %}
                            </th>
                            <td>
                                {{ object.identifier }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>
                            {% get_verbose_name site "name" %}
                        </th>
                        <td>
                            {{ object.name }}
                        </td>
                    </tr>
                    {% if object.alt_name.all %}
                        <tr>
                            <th>
                                {% get_verbose_name site "alt_name" %}
                            </th>
                            <td>
                                {% for x in object.alt_name.all %}
                                    <li>
                                        {{x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.alt_id %}
                        <tr>
                            <th>
                                {% get_verbose_name site "alt_id" %}
                            </th>
                            <td>
                                {{ object.alt_id }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.description %}
                        <tr>
                            <th>
                                {% get_verbose_name site "description" %}
                            </th>
                            <td>
                                {{ object.description }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.comment %}
                        <tr>
                            <th>
                                {% get_verbose_name site "comment" %}
                            </th>
                            <td>
                                {{ object.comment }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.public %}
                        <tr>
                            <th>
                                {% get_verbose_name site "public" %}
                            </th>
                            <td>
                                {{ object.public }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.literature.all %}
                        <tr>
                            <th>
                                {% get_verbose_name site "literature" %}
                            </th>
                            <td>
                                {% for x in object.literature.all %}
                                    <li>
                                        {{ x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.cadastral_community.all %}
                        <tr>
                            <th>
                                {% get_verbose_name site "cadastral_community" %}
                            </th>
                            <td>
                                {% for x in object.cadastral_community.all %}
                                    <li>
                                        {{ x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.cadastral_number %}
                        <tr>
                            <th>
                                {% get_verbose_name site "cadastral_number" %}
                            </th>
                            <td>
                                {{ object.cadastral_number }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.heritage_number %}
                        <tr>
                            <th>
                                {% get_verbose_name site "heritage_number" %}
                            </th>
                            <td>
                                {{ object.heritage_number }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.plot_number %}
                        <tr>
                            <th>
                                {% get_verbose_name site "plot_number" %}
                            </th>
                            <td>
                                {{ object.plot_number }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.period.all %}
                        <tr>
                            <th>
                                {% get_verbose_name site "period" %}
                            </th>
                            <td>
                                {% for x in object.period.all %}
                                    <li>
                                        {{ x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.information_source.all %}
                        <tr>
                            <th>
                                {% get_verbose_name site "information_source" %}
                            </th>
                            <td>
                                {% for x in object.information_source.all %}
                                    <li>
                                        {{ x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-md-6">
                <legend>
                    related objects
                </legend>
                    {% if object.has_archent.all %}
                        <h3>Arch Ents</h3>
                        <ul>
                            {% for x in object.has_archent.all %}
                                <li>
                                    <a href="{{ x.get_absolute_url }}">{{ x }} ({{ x.ent_type }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if object.information_source.all %}
                        <h3>Research Events</h3>
                        <ul>
                            {% for x in object.information_source.all %}
                                <li>
                                    <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <legend>
                        related other periods
                    </legend>
                        {% if object.other_period.all %}
                            <ul>
                                {% for x in object.other_period.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
