{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% load leaflet_tags %}
{% load archiv_extras %}
{% block title %}Site{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block content %}

 <style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 800px;
    }
</style>

<div class="row">
<!-- <div class="container"> -->
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'archiv:site_detail' pk=object.get_prev %}">
                            <i class="fas fa-chevron-left" title="previous"></i>
                            </a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small>Site:</small> {{ object }}
                        {% if user.is_authenticated %}
                            <small>
                                <a href="{% url 'archiv:site_edit' pk=object.id %}">
                                    <i class="far fa-edit" title="edit"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'archiv:site_delete' pk=object.id %}">
                                    <i class="far fa-trash-alt" title="delete"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'arche:resource_copy' %}?app-name=archiv&id={{ object.id }}&class-name=site" class="confirmation">
                                    <i class="far fa-copy" aria-hidden="true" title="copy object"></i>
                                </a>
                            </small>
                        {% endif %}
                    </h1>
                    {% if user.is_authenticated %}
                        {% class_dict as classes %}
                        <form action="{% url 'archiv:copy_poly' %}">
                            <div class="form-group">
                                <strong>Copy polygon to:</strong>
                                <select class="custom-select" name="target-class" id="target-class">
                                    {% for key, value in classes.items %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <input id="current-id" name="current-id" type="hidden" value="{{ object.id }}">
                                <input id="current-class" name="current-class" type="hidden" value="Site">
                            </div>
                            <button type="submit" class="btn btn-primary confirmation">Copy</button>
                        </form>
                    {% endif %}
                </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'archiv:site_detail' pk=object.get_next %}" style="float:right">
                        <i class="fas fa-chevron-right" title="next"></i>
                    </a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <legend>Basic Information</legend>
                <table class="table table-bordered table-hover">
                    {% if object.identifier %}
                        <tr>
                            <th>
                                {% get_verbose_name site "identifier" %}
                            </th>
                            <td>
                                {{ object.identifier }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>
                            {% get_verbose_name site "name" %}
                        </th>
                        <td>
                            {{ object.name }}
                        </td>
                    </tr>
                    {% if object.alt_name.all %}
                        <tr>
                            <th>
                                {% get_verbose_name site "alt_name" %}
                            </th>
                            <td>
                                {% for x in object.alt_name.all %}
                                    <li>
                                        {{x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.alt_id %}
                        <tr>
                            <th>
                                {% get_verbose_name site "alt_id" %}
                            </th>
                            <td>
                                {{ object.alt_id }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.description %}
                        <tr>
                            <th>
                                {% get_verbose_name site "description" %}
                            </th>
                            <td>
                                {{ object.description }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.comment %}
                        <tr>
                            <th>
                                {% get_verbose_name site "comment" %}
                            </th>
                            <td>
                                {{ object.comment }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.public %}
                        <tr>
                            <th>
                                {% get_verbose_name site "public" %}
                            </th>
                            <td>
                                {{ object.get_public_display }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.literature.all %}
                        <tr>
                            <th>
                                {% get_verbose_name site "literature" %}
                            </th>
                            <td>
                                {% for x in object.literature.all %}
                                    <li>
                                        {{ x }} <a href="{{ x.zotero_item.get_zotero_url }}"<i class="fas fa-book"></i></a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.cadastral_community.all %}
                        <tr>
                            <th>
                                {% get_verbose_name site "cadastral_community" %}
                            </th>
                            <td>
                                {% for x in object.cadastral_community.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.cadastral_number %}
                        <tr>
                            <th>
                                {% get_verbose_name site "cadastral_number" %}
                            </th>
                            <td>
                                {{ object.cadastral_number }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.heritage_number %}
                        <tr>
                            <th>
                                {% get_verbose_name site "heritage_number" %}
                            </th>
                            <td>
                                {{ object.heritage_number }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.plot_number %}
                        <tr>
                            <th>
                                {% get_verbose_name site "plot_number" %}
                            </th>
                            <td>
                                {{ object.plot_number }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.ownership %}
                        <tr>
                            <th>
                                {% get_verbose_name site "ownership" %}
                            </th>
                            <td>
                                {{ object.ownership }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.period.all %}
                        <tr>
                            <th>
                                {% get_verbose_name site "period" %}
                            </th>
                            <td>
                                {% for x in object.period.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <legend>Tourism</legend>
                <table class="table table-bordered table-hover">
                    {% if object.accessibility %}
                        <tr>
                            <th>
                                {% get_verbose_name site "accessibility" %}
                            </th>
                            <td>
                                {{ object.accessibility }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.visibility %}
                        <tr>
                            <th>
                                {% get_verbose_name site "visibility" %}
                            </th>
                            <td>
                                {{ object.visibility }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.infrastructure %}
                        <tr>
                            <th>
                                {% get_verbose_name site "infrastructure" %}
                            </th>
                            <td>
                                {{ object.infrastructure }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.long_term_management %}
                        <tr>
                            <th>
                                {% get_verbose_name site "long_term_management" %}
                            </th>
                            <td>
                                {{ object.long_term_management }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.potential_surrounding %}
                        <tr>
                            <th>
                                {% get_verbose_name site "potential_surrounding" %}
                            </th>
                            <td>
                                {{ object.potential_surrounding }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.museum.all %}
                        <tr>
                            <th>
                                {% get_verbose_name site "museum" %}
                            </th>
                            <td>
                                {% for x in object.museum.all %}
                                    <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.iad_app %}
                        <tr>
                            <th>
                                {% get_verbose_name site "iad_app" %}
                            </th>
                            <td>
                                {{ object.get_iad_app_display }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.app_description %}
                        <tr>
                            <th>
                                {% get_verbose_name site "app_description" %}
                            </th>
                            <td>
                                {{ object.app_description }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.tourism_comment %}
                        <tr>
                            <th>
                                {% get_verbose_name site "tourism_comment" %}
                            </th>
                            <td>
                                {{ object.tourism_comment }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
                {% if user.is_authenticated %}
                    <legend>Quality Control</legend>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                {% get_verbose_name site "site_checked_by" %}
                            </th>
                            <td>
                                {% if object.site_checked_by %}
                                    {{ object.site_checked_by }}
                                {% else %}
                                    not checked yet
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                curation history
                            </th>
                            <td>
                                {% if history %}
                                    {% for x in history %}
                                        <li>
                                            {{ x.revision.date_created }} changed by {{ x.revision.user }}
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if object.has_research_activity.all %}
                    <legend>Information Source</legend>
                        <li>
                            <a href="{{ information_source.get_absolute_url }}">
                                {{ information_source }}
                            </a>
                        </li>
                    <legend>Research Activity</legend>
                    <ul>
                        {% for x in object.has_research_activity.all %}
                            <li>
                                <a href="{{ x.get_absolute_url }}">{{ x }} </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    {% if object.has_archent.all %}
                        <legend>related Arch Entities</legend>
                        <ul>
                            {% for x in object.has_archent.all %}
                                <li>
                                    <a href="{{ x.get_absolute_url }}">{{ x }} ({{ x.ent_type }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if object.information_source.all %}
                        <h3>Information Source</h3>
                        <ul>
                            {% for x in object.information_source.all %}
                                <li>
                                    <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if object.other_period.all %}
                        <legend>
                            related other Periods
                        </legend>

                            <ul>
                                {% for x in object.other_period.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if object.has_monument_protection.all %}
                            <legend>
                                related Monument Protection
                            </legend>
                                <ul>
                                    {% for x in object.has_monument_protection.all %}
                                        <li>
                                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

            </div>
        </div>

    </div>
</div>
</div>
<div class="col-md-6">
{% leaflet_map "yourmap" callback="window.map_init_basic" %}
        <legend>GeoJSON</legend>
        {{ object.get_geojson }}
</div>
</div>
<!-- </div> -->
<script type="text/javascript">
    function createLink(propertyObject, objectType){
        var url = "/archiv/"+objectType+"/detail/"+propertyObject.pk;
        var link = '<a href="'+url+'">'+propertyObject.name+'</a>';
        return link
    }
    function onEachFeature(feature, layer, objectType) {
        if (feature.properties && feature.properties.name) {
            var popupContent = createLink(feature.properties, 'archent');
            layer.bindPopup(popupContent);
        }
      }

    var SiteStyle = {
        "color": "#ff7800",
        "weight": 2,
        "opacity": 1,
        "fillOpacity": 0,
    };

    var ArchEntStyle = {
            "color": "#3589ff",
            "weight": 2,
            "opacity": 1,
            "fillOpacity": 0,
        };

    var ArchConvex = {
            "color": "#ff7800",
            "weight": 1,
            "opacity": 1,
            "fillOpacity": 0,
    };

    function map_init_basic (map, options) {

        var geojsonFeature = {{ object.get_geojson|safe }};
        var SiteLayer = L.geoJson(geojsonFeature).setStyle(SiteStyle);
        SiteLayer.addTo(map);
        map.fitBounds(SiteLayer.getBounds());

        var ArchEntConvex = L.geoJson({{ object.convex_hull_archents|safe }}).setStyle(ArchConvex);
        ArchEntConvex.addTo(map);


        {% if object.has_archent.all %}
            {% for x in object.has_archent.all %}
                var geojsonFeatureArchEnt = {{ x.get_geojson|safe }};
                L.geoJson(geojsonFeatureArchEnt, {
                    style: ArchEntStyle,
                    onEachFeature: onEachFeature
                }).addTo(map);
          	{% endfor %}
      	{% endif %}
    }
</script>
<script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
</script>

{% endblock %}
