{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% load leaflet_tags %}
{% load archiv_extras %}
{% block title %}Site{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block content %}

 <style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 800px;
    }
</style>

<div class="row">
<!-- <div class="container"> -->
<div class="col-md-6">
    <div class="card">
        <div class="card-header site-page">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'archiv:site_detail' pk=object.get_prev %}" style="color: #fff;">
                            <i class="fas fa-chevron-left" title="previous"></i>
                            </a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small><a href="{{ object.get_listview_url }}" style="color: #fff;">Site</a></small> {{ object }}
                        {% if user.is_authenticated %}
                            <small>
                                <a href="{% url 'archiv:site_edit' pk=object.id %}" style="color: #fff;">
                                    <i class="far fa-edit" title="edit"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'archiv:site_delete' pk=object.id %}" style="color: #fff;">
                                    <i class="far fa-trash-alt" title="delete"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'arche:resource_copy' %}?app-name=archiv&id={{ object.id }}&class-name=site" class="confirmation" style="color: #fff;">
                                    <i class="far fa-copy" aria-hidden="true" title="copy object"></i>
                                </a>
                            </small>
                        {% endif %}
                    </h1>
                    {% if user.is_authenticated %}
                        {% class_dict as classes %}
                        <form action="{% url 'archiv:copy_poly' %}">
                            <div class="form-group">
                                <strong>Copy polygon to:</strong>
                                <select class="custom-select" name="target-class" id="target-class">
                                    {% for key, value in classes.items %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <input id="current-id" name="current-id" type="hidden" value="{{ object.id }}">
                                <input id="current-class" name="current-class" type="hidden" value="Site">
                            </div>
                            <button type="submit" class="btn btn-primary confirmation">Copy</button>
                        </form>
                    {% endif %}
                </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'archiv:site_detail' pk=object.get_next %}" style="float:right; color: #fff;">
                        <i class="fas fa-chevron-right" title="next"></i>
                    </a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    {% if not_logged_in %}
        <h1>Work in progess</h1>
        <h3>We are currently working on this Site. Therefore only internal users have access to it</h3>
    {% else %}
    <div class="card-body">
        <!-- <div class="row"> -->
            <div class="col-md-12">
                <legend>Basic Information</legend>
                <table class="table table-bordered table-hover">
                    {% if object.identifier %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "identifier" %}
                            </th>
                            <td>
                                {{ object.identifier }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th class="w-25">
                            {% get_verbose_name site "name" %}
                        </th>
                        <td>
                            {{ object.name }}
                        </td>
                    </tr>
                    {% if object.alt_name.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "alt_name" %}
                            </th>
                            <td>
                                {% for x in object.alt_name.all %}
                                    <li>
                                        {{x }}
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.alt_id %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "alt_id" %}
                            </th>
                            <td>
                                {{ object.alt_id }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.description %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "description" %}
                            </th>
                            <td>
                                {{ object.description }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.comment %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "comment" %}
                            </th>
                            <td>
                                {{ object.comment }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.public %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "public" %}
                            </th>
                            <td>
                                {{ object.get_public_display }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.literature.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "literature" %}
                            </th>
                            <td>
                                {% for x in object.literature.all %}
                                    <li>
                                        {% if x.zotero_item.zot_title %}
                                            {{ x.zotero_item.zot_title }}
                                        {% endif %}
                                        {% if x.zotero_item.zot_pub_title %}
                                            - {{ x.zotero_item.zot_pub_title }}
                                        {% endif %}
                                        {% if x.zotero_item.zot_date %}
                                            - {{ x.zotero_item.zot_date }}
                                        {% endif %}p. {{x.page}}
                                        <a href="{{ x.zotero_item.get_zotero_url }}" target="_blank"><i class="fas fa-book"></i></a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.cadastral_community.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "cadastral_community" %}
                            </th>
                            <td>
                                {% for x in object.cadastral_community.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.sm_adm %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "sm_adm" %}
                            </th>
                            <td>
                                {{ object.sm_adm }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.cadastral_number %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "cadastral_number" %}
                            </th>
                            <td>
                                {{ object.cadastral_number }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.heritage_number %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "heritage_number" %}
                            </th>
                            <td>
                                {{ object.heritage_number }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.plot_number %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "plot_number" %}
                            </th>
                            <td>
                                {{ object.plot_number }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.ownership %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "ownership" %}
                            </th>
                            <td>
                                {{ object.ownership }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.other_period.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "other_period" %}
                            </th>
                            <td>
                                {% for x in object.other_period.all %}
                                    <li>
                                        <abbr data-toggle="tooltip" data-placement="right" data-html="true" title="{% skos_info x %}">{{ x }}</abbr>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <legend>Tourism</legend>
                <table class="table table-bordered table-hover">
                    {% if object.accessibility %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "accessibility" %}
                            </th>
                            <td>
                                {{ object.accessibility }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.visibility %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "visibility" %}
                            </th>
                            <td>
                                {{ object.visibility }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.infrastructure %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "infrastructure" %}
                            </th>
                            <td>
                                {{ object.infrastructure }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.long_term_management %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "long_term_management" %}
                            </th>
                            <td>
                                {{ object.long_term_management }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.potential_surrounding %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "potential_surrounding" %}
                            </th>
                            <td>
                                {{ object.potential_surrounding }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.museum.all %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "museum" %}
                            </th>
                            <td>
                                {% for x in object.museum.all %}
                                    <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.iad_app %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "iad_app" %}
                            </th>
                            <td>
                                {{ object.get_iad_app_display }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.app_description %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "app_description" %}
                            </th>
                            <td>
                                {{ object.app_description }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.tourism_comment %}
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "tourism_comment" %}
                            </th>
                            <td>
                                {{ object.tourism_comment }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
                {% if user.is_authenticated %}
                    <legend>Quality Control</legend>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th class="w-25">
                                {% get_verbose_name site "site_checked_by" %}
                            </th>
                            <td>
                                {% if object.site_checked_by %}
                                    {{ object.site_checked_by }}
                                {% else %}
                                    not checked yet
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="w-25">
                                Curation history
                            </th>
                            <td>
                                {% if history %}
                                    {% for x in history %}
                                        <li>
                                            {{ x.revision.date_created }} changed by {{ x.revision.user }}
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                {% endif %}
            </div>
            <div class="col-md-12">
                {% if object.has_research_activity.all %}
                    <legend>Information Source</legend>
                    <ul>
                        <li>
                            <a href="{{ information_source.get_absolute_url }}">
                                {{ information_source }}
                            </a>
                        </li>
                    </ul>
                    <legend>Research Activity</legend>
                    <ul>
                        {% for x in object.has_research_activity.all %}
                            <li>
                                <a href="{{ x.get_absolute_url }}">{{ x }} </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    {% if object.has_archent.all %}
                        <legend>related Arch Entities</legend>
                        <ul>
                            {% for x in object.has_archent.all %}
                                <li>
                                    <a href="{{ x.get_absolute_url }}">{{ x }} ({{ x.ent_type }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if object.information_source.all %}
                        <h3>Information Source</h3>
                        <ul>
                            {% for x in object.information_source.all %}
                                <li>
                                    <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if object.other_period.all %}
                        <legend>related other Periods</legend>
                            <ul>
                                {% for x in object.other_period.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                    {% if object.has_monument_protection.all %}
                        <legend>related Monument Protection</legend>
                            <ul>
                                {% for x in object.has_monument_protection.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                    {% endif %}

            </div>
       <!--  </div> -->

    </div>
</div>
</div>
<div class="col-md-6">
{% leaflet_map "yourmap" callback="window.map_init_basic" %}
<!--commented it out for now since I don't think we really need this now-->
      <legend>GeoJSON</legend>
        {{ object.get_geojson }}
</div>
</div>
<!-- </div> -->
<script type="text/javascript">

    {% archiv_custom_js %}

    {% archiv_colors %}

    function map_init_basic (map, options) {

        var geojsonFeature = {{ object.get_geojson|safe }};
        var SiteLayer = L.geoJson(geojsonFeature, {
            style: SiteStyle,
            onEachFeature: onEachFeatureClosure('site')
        });
        SiteLayer.addTo(map);
        map.layerscontrol.addOverlay(SiteLayer, '{{ x }}');
        map.fitBounds(SiteLayer.getBounds());




        {% if object.has_archent.all %}
        var ArchEntConvex = L.geoJson({{ object.convex_hull_archents|safe }}).setStyle(ArchConvex);
        map.layerscontrol.addOverlay(ArchEntConvex, 'Sum of ArchEnts');
        ArchEntConvex.addTo(map);
            {% for x in object.has_archent.all %}
                var ItemLayer = L.geoJson({{ x.get_geojson|safe }}, {
                    style: ArchEntStyle,
                    onEachFeature: onEachFeatureClosure('archent')
                }).addTo(map);
                map.layerscontrol.addOverlay(ItemLayer, '{{ x }}');
          	{% endfor %}
      	{% endif %}

        {% if object.has_monument_protection.all %}
            {% for x in object.has_monument_protection.all %}
                var ItemLayer = L.geoJson({{ x.get_geojson|safe }}, {
                    style: MonumentProtectionStyle,
                    onEachFeature: onEachFeatureClosure('monumentprotection')
                }).addTo(map);
                map.layerscontrol.addOverlay(ItemLayer, '{{ x }}');
          	{% endfor %}
      	{% endif %}

        {% if object.has_research_activity.all %}
            {% for x in object.has_research_activity.all %}
                var ItemLayer = L.geoJson({{ x.get_geojson|safe }}, {
                    style: ResearchEventStyle,
                    onEachFeature: onEachFeatureClosure('researchevent')
                }).addTo(map);
                map.layerscontrol.addOverlay(ItemLayer, '{{ x }}');
          	{% endfor %}
      	{% endif %}
    }
</script>
<script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
</script>
{% endif %}

{% endblock %}
