
# Byte-compiled
__pycache__/
*.pyc

# sqlite
/*.sqlite3

# test coverage
.coverage
cover/

# IDE
.idea

# migrations
vocabs/migrations/*
bib/migrations/*
webpage/migrations/*
places/migrations/*
arche/migrations/*
archiv/migrations/*


# Ipython Notebook checkpoints
.ipynb_checkpoints

# production(like) settings files
mysql.py
server.py
postgres.py
pg_local.py
dev_secret.py

# documentation build files

/docs/_*/*
/vocabs/data/spreadsheets/cv_burial.xlsx
/Untitled.ipynb
/arche/data/fileType.json
/arche/data/fileList.json
/play.ipynb
/users.json
/db.json
/auth.json
/shapes.json
/ae__ent_type__pref_label.csv
/ae__period__name.csv
/ae__settlement_fortification.csv
/ae__settlement_occupation.csv
/ae__topography.csv
/mp__current_land_use.csv
/mp__threats.csv
/re_research_method__pref_label.csv
/re_research_type__pref_label.csv
/site__other_period.csv
/ae__burial_construction.csv
/ae__burial_type.csv
