body {
    font-family: 'Libre Franklin', sans-serif;
}
main {
    padding-top: 100px;
}
.site-page {
    background-color: #003399;
    color: white;
}
.archent-page {
    background-color: #9FAEE5;
    color: white;
}
.researchevent-page {
    background-color: #abd91aff;
    color: white;
}
.monumentprotection-page {
    background-color: #fbbf18ff;
    color: white;
}

a {
    color: #254aa5;
}


footer {
    flex: 0 0 auto;
    background-color: #f8f8f8;
    padding: 20px;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 30px;
}

/*custom acdh logo css*/

#acdh-logo {
    width: 25%;
    height: auto;
    padding: 10px 0 10px 0;
}

#github-logo {
    width: 10%;
    height: auto;
    padding: 10px 0 10px 0;
}


@media (max-width: 768px) {
    #acdh-logo, #orea-logo {
        width: 15%;
    }
    #github-logo {
        width: 7%;
    }
}

@media (min-width: 768px) and (max-width: 1105px) {
    .navbar-right {
        float: none !important;
    }
}


.title-index {
    font-weight: 900;
    color: #254aa5;
    font-size: 350%;
}
@media (max-width: 768px) {
    .card-index {
        padding: 30px !important;
    }
    .title-index {
    font-weight: 900;
    font-size: 200% !important;
}

}

.paragraph-index {
    font-weight: 900;
}
.hr-index {
    height: 4px;
    border: 0;
    background: #254aa5;
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.h2-index {
    color:#254aa5;
    font-weight: 800;
    text-align: center;
}
#yourmap {
    z-index: 0;
    /*min-height: 1000px;*/
   /* min-height: 450px;*/
}
.special-index {
    padding: 30px;
    border-radius: 50%;
    background-color: #fbbf18ff;
    color: #fff;
    font-weight: 800;
    margin-left: -80px;
    margin-top: -450px;
    width: 10rem;
    height: 10rem;
    z-index: 2;
}

.btn-index {
    margin-top: 5px;
    margin-bottom: 0px;
    /*margin-left: 10px;
    margin-right: 10px;*/
    background-color: #ffffff;
    color: #254aa5;
    border: 3px solid #254aa5;
    font-weight: 800;
    white-space: normal;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px 0px 0px 0px #254aa5;
    transition: box-shadow 0.6s linear;
}

.btn-index:hover {
   box-shadow: 0px 0px 0px 2px #254aa5;

}


.tooltip-inner {
  background-color: #fff !important;
  /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
  color: #000;
  border: 1px solid #000;
  text-align: left;
  max-width: auto;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #fff;
  color: #fff;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #000;
}

a > .fa-2x {
    color: #444;
}
