{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% load leaflet_tags %}
{% block title %}Site{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block content %}

 <style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 800px;
    }

</style>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2">
                        {% if object.get_prev %}
                            <h2>
                                <a href="{% url 'shapes:municipality_detail' pk=object.get_prev %}">
                                <i class="fas fa-chevron-left" title="previous"></i>
                                </a>
                            </h2>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h1 style="text-align: center;">
                            {{ object }}
                        </h1>
                    </div>
                <div class="col-md-2">
                    <h2>
                        {% if object.get_next %}
                        <a href="{% url 'shapes:municipality_detail' pk=object.get_next %}" style="float:right">
                            <i class="fas fa-chevron-right" title="next"></i>
                        </a>
                    </h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <legend>Basic Information</legend>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                sau_id
                            </th>
                            <td>
                                {{ object.sau_id}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                saunam
                            </th>
                            <td>
                                {{ object.saunam}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                lau2_id
                            </th>
                            <td>
                                {{ object.lau2_id}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                lau2nam
                            </th>
                            <td>
                                {{ object.lau2nam}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                nuts3cod
                            </th>
                            <td>
                                {{ object.nuts3cod}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                nuts3nam
                            </th>
                            <td>
                                {{ object.nuts3nam}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                nuts2cod
                            </th>
                            <td>
                                {{ object.nuts2cod}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                nuts2nam
                            </th>
                            <td>
                                {{ object.nuts2nam}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                ctcod
                            </th>
                            <td>
                                {{ object.ctcod}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                ctnam
                            </th>
                            <td>
                                {{ object.ctnam}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                ctalt
                            </th>
                            <td>
                                {{ object.ctalt}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
    </div>
    <div class="col-md-6">
    {% leaflet_map "yourmap" callback="window.map_init_basic" %}
            <legend>GeoJSON</legend>
            {{ object.get_geojson }}
    </div>
    </div>
    <!-- </div> -->
    <script type="text/javascript">
        function map_init_basic (map, options) {
            var geojsonFeature = {{ object.get_geojson|safe }};
            var geojsonLayer = L.geoJson(geojsonFeature)
            geojsonLayer.addTo(map);
            map.fitBounds(geojsonLayer.getBounds());
        }
    </script>
    <script type="text/javascript">
        $('.confirmation').on('click', function () {
            return confirm('Are you sure?');
        });
    </script>

</div>
{% endblock %}
