{% load static %}
{% load webpage_extras %}
{% load browsing_extras %}
<footer class="main-footer">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-sep">
          <i class="far fa-comment"></i> CONTACT
        </div>
        {% social_media %}
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="{% static 'webpage/img/interreg_logo.png' %}" alt="logo" title="logo"/>
            </div>
        </div>
      </div>
    </div>
    <div class="footer-imprint-bar">
        <a href="{% projects_metadata 'imprint' %}">Impressum/Imprint</a>
    </div>
    {% if user.is_authenticated %}
        {% if DB_NAME %}
            <div class="footer-imprint-bar">
                <small>{{ DB_NAME }}</small>
            </div>
        {% endif %}
    {% endif %}
</footer>