{% load static %}
{% load webpage_extras %}
{% load browsing_extras %}
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white box-shadow">
        <div class="container-fluid">
            <a href="/" class="navbar-brand custom-logo-link">
                <img src="{% static 'webpage/img/interreg_logo.png' %}" class="img-fluid" alt="Iron Age Danube Logo"
                    itemprop="logo" width="250px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'webpage:about' %}">About the database</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'webpage:thesaurus' %}">IAD Thesaurus</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'webpage:imprint' %}">Imprint | Impressum</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Curate and Browse the Data
                        </a>
                        {% else %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Browse the Data
                        </a>
                        {% endif %}
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'browsing:browse_sites' %}">Site</a></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'browsing:browse_researchevents' %}">Research
                                    Activity</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'browsing:browse_archents' %}">Arch. Entity</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'browsing:browse_monumentprotections' %}">Monument
                                    Protection</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'browsing:browse_institutions' %}">Institution</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'browsing:browse_persons' %}">Researcher</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'browsing:browse_researchquestions' %}">Research
                                    Question</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'bib:browse_references' %}">References</a>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'browsing:browse_periods' %}">Chronology</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'shapes:browse_municipality' %}">
                                    Municipalities
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Quality Checks
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'checks:invalid_poly' %}">
                                    Polygon Valid?
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'checks:poly_exists' model_name='site' %}">
                                    Polygon for Site?
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <a class="dropdown-item" href="{% url 'checks:poly_fits_archents' %}">
                                ArchEnts fit Site Polygon?
                            </a>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <a class="dropdown-item" href="{% url 'checks:generic_check' model_name='archent' %}">
                                Check for Archaelogical Entity?
                            </a>
                            <a class="dropdown-item" href="{% url 'checks:generic_check' model_name='researchevent' %}">
                                Check for Research Activity?
                            </a>
                            <a class="dropdown-item"
                                href="{% url 'checks:generic_check' model_name='monumentprotection' %}">
                                Check for Monument Protection?
                            </a>
                        </ul>
                    </li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Vocabs Curation
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'vocabs:metadata' %}">Metadata</a></li>
                            <li><a class="dropdown-item" href="{% url 'vocabs:browse_schemes' %}">Concept Schemes</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'vocabs:browse_vocabs' %}">Concepts</a></li>
                            <li><a class="dropdown-item" href="{% url 'vocabs:browse_skoslabels' %}">Labels</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown pe-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.get_username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link" href="{% url 'webpage:user_logout' %}">Log-Out</a>
                            </li>
                            {% if 'reversion' in APPS %}
                            <li>
                                <a class="nav-link" href="{% url 'webpage:user_detail' pk=user.id %}">My Page</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% else %}
                <a class="nav-link pe-3" href="{% url 'webpage:user_login' %}">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span class="visually-hidden">Log In</span>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>