{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% load leaflet_tags %}
{% block title %}{{ object }}{% endblock %}

{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            {% if object.get_prev %}
            <h2>
                <a href="{% url 'entities:person_detail' pk=object.get_prev %}">
                    <i class="bi bi-chevron-left" title="previous"></i>
                </a>
            </h2>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1 style="text-align: center;">
                <small><a href="{{ object.get_listview_url }}">Person</a></small> {{ object }}
                {% if user.is_authenticated %}
                <small>
                    <a href="{% url 'entities:person_edit' pk=object.id %}">
                        <i class="bi bi-pencil-square" title="edit"></i>
                    </a>
                </small>
                |
                <small>
                    <a href="{% url 'entities:person_delete' pk=object.id %}">
                        <i class="bi bi-trash3" title="delete"></i>
                    </a>
                </small>
                {% endif %}
            </h1>
        </div>
        <div class="col-md-2">
            <h2>
                {% if object.get_next %}
                <a href="{% url 'entities:person_detail' pk=object.get_next %}" style="float:right">
                    <i class="bi bi-chevron-right" title="next"></i>
                </a>
            </h2>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-bordered table-hover">
        <tr>
            <th class="w-25">
                {% get_verbose_name person "written_name" %}
            </th>
            <td>
                {{ object.written_name }}
            </td>
        </tr>
        <tr>
            <th class="w-25">
                {% get_verbose_name person "forename" %}
            </th>
            <td>
                {{ object.forename }}
            </td>
        </tr>
        <tr>
            <th class="w-25">
                {% get_verbose_name person "name" %}
            </th>
            <td>
                {{ object.name }}
            </td>
        </tr>
        {% if object.acad_title %}
        <tr>
            <th class="w-25">
                {% get_verbose_name person "acad_title" %}
            </th>
            <td>
                {{ object.acad_title }}
            </td>
        </tr>
        {% endif %}
        {% if object.pers_alt_name %}
        <tr>
            <th class="w-25">
                {% get_verbose_name person "pers_alt_name" %}
            </th>
            <td>
                {{ object.pers_alt_name }}
            </td>
        </tr>
        {% endif %}
        {% if object.place_of_birth %}
        <tr>
            <th class="w-25">
                {% get_verbose_name person "place_of_birth" %}
            </th>
            <td>
                {{ object.place_of_birth }}
            </td>
        </tr>
        {% endif %}
        {% if object.date_of_birth %}
        <tr>
            <th class="w-25">
                {% get_verbose_name person "date_of_birth" %}
            </th>
            <td>
                {{ object.date_of_birth }}
            </td>
        </tr>
        {% endif %}
        {% if object.public %}
        <tr>
            <th class="w-25">
                {% get_verbose_name person "public" %}
            </th>
            <td>
                {{ object.public }}
            </td>
        </tr>
        {% endif %}
        {% if object.authority_url %}
        <tr>
            <th class="w-25">
                {% get_verbose_name person "authority_url" %}
            </th>
            <td>
                <a href="{{ object.authority_url }}">{{ object.authority_url }}</a>
            </td>
        </tr>
        {% endif %}
        {% if object.belongs_to_institution %}
        <tr>
            <th class="w-25">
                {% get_verbose_name person "belongs_to_institution" %}
            </th>
            <td>
                <a href="{{ object.belongs_to_institution.get_absolute_url }}">{{ object.belongs_to_institution }}</a>
            </td>
        </tr>
        {% endif %}
    </table>
    {% if object.has_research.all %}
    <h2>related Research Activity</h2>
    <ul>
        {% for x in object.has_research.all %}
        <li>
            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
</div>


</div>


{% endblock %}