{% extends "webpage/base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% load archiv_extras %}
{% block title %} Quality checks {% endblock %}

{% block content %}
    <div class="container">
        <h1>class: {{ class }}</h1>
        <h2>{{ no_poly_count }} out of {{ all }} without polygon</h2>

        <ol>
            {% for x in no_poly %}
                <li>
                    <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                </li>
            {% endfor %}
        </ol>

    </div>
{% endblock content %}
