{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
<div class="card">
	<div class="card-header">
    <h1>IRON-AGE-DANUBE</h1>
    </div>
    <div class="card-body">
    <p>
       Over the past few decades, European archaeological heritage gained major attention by connecting prominent archaeological sites to wider transnational networks, which have become a popular tool for their protection, promotion and tourist use. Imposingly attractive, however very fragile, prehistoric landscapes in the Danube programme area remain partly hidden and not well integrated into cultural tourism. The Iron-Age-Danube project focuses on monumental archaeological landscapes of the Early Iron Age, characterized by, e.g., fortified hilltop settlements and large tumulus cemeteries, from the era between roughly the 9th–4th cent. BC (Hallstatt period). At that time, the Danube region was part of a cultural phenomenon called the Eastern-Hallstatt circle.
    </p>
    </div>
  </div>
</div>
{% endblock %}
