{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load stats_extras %}
{% load webpage_extras %}
{% load archiv_extras %}
{% load leaflet_tags %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block content %}
<div class="jumbotron" style="padding:0;">

    {% leaflet_map "yourmap" callback="window.map_init_basic" %}

</div>
<div class="container">

        <div class="card card-index">
            <div class="card-body">
                <h1 class="text-center title-index">
                IRON-AGE-DANUBE
                </h1>
                <p class="text-center text-muted paragraph-index">
                    {% projects_metadata 'subtitle' %}
                </p>
                <hr class="hr-index"/>
                <p class="text-justify">
                        {% projects_metadata 'description' %}
                </p>
                <div class="text-right">
                    <a href="{% url 'browsing:browse_sites' %}" class="btn btn-lg btn-index pulse" class="pull-right">
                    <b><i class="fa fa-angle-right"></i></b>&nbsp;&nbsp;explore
                    </a>
                </div>
                <br>
                <h2 class="h2-index">Statistics</h2>
                <!--cards with statistics-->
                <div class="row" style="padding:10px; text-align:center;">
                    <div class="col-md-6">
                        <div class="card site-page">
                            <div class="card-body">
                                <h5 class="card-title">The number of sites entered per country</h5>
                                <p class="card-text">
                                    <p>
                                        {% sites_by_country as result %}
                                        {% for key, value in result.items %}
                                            {{ key }}: {{ value }} {% if not forloop.last %}|{% endif %}
                                        {% endfor %}
                                        <br />
                                        <small>(total {% site_count %})</small>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card archent-page">
                            <div class="card-body">
                                <h5 class="card-title">Touristic potential of sites</h5>
                                <p class="card-text">
                                    <p>
                                        {% touristic_potential as result %}
                                        {% for key, value in result.items %}
                                            {{ key }}: {{ value }} {% if not forloop.last %}|{% endif %}
                                        {% endfor %}
                                        <br />
                                        <small>(total {% site_count %})</small>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:10px; text-align:center;">
                    <div class="col-md-6">
                        <div class="card researchevent-page">
                            <div class="card-body">
                                <h5 class="card-title">Sites that are <small>(at least partially)</small> protected</h5>
                                <p class="card-text">
                                    <p>{% protected_site_count %}<br />
                                        <small>(out of {% site_count %})</small>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card monumentprotection-page">
                            <div class="card-body">
                                <h5 class="card-title">Area of sites vs. area of "excavation" vs area "geophysical survey"</h5>
                                <p class="card-text">
                                    <p>
                                        {% site_extent %} km<sup>2</sup> vs {% excavation_extent %} km<sup>2</sup> vs {% geophysical_extent %}km<sup>2</sup>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <h2 class="h2-index">Funding</h2>
                <img src="{% static 'webpage/img/project_details.png' %}" class="img-fluid" alt="funding" itemprop="logo"/>
            </div>
        </div>
</div>
<script>
    {% archiv_custom_js %}

    {% archiv_colors %}

    function map_init_basic (map, options) {

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.light',
            accessToken: 'pk.eyJ1IjoiY3NhZTgwOTIiLCJhIjoiY2lnM2FoZWpjMDJqZnY1a2gxdWl6a29kaiJ9.FQXlsKIu60WhiXLrfI59VA'
        }).addTo(map);

        var SiteShapeLayer = L.geoJson({{shapes|safe }}, {
            onEachFeature: onEachFeatureClosure('site')
        }).setStyle(SiteStyle);
        SiteShapeLayer.addTo(map);
        map.layerscontrol.addOverlay(SiteShapeLayer, 'Sites (Shapes)');
        map.fitBounds(SiteShapeLayer.getBounds());

        var SitePointLayer = L.geoJson({{points|safe }}, {
            onEachFeature: onEachFeatureClosure('site')
        });
        map.layerscontrol.addOverlay(SitePointLayer, 'Sites (Points)');

        var ArchentShapeLayer = L.geoJson({{shapes_archent|safe }}, {
            onEachFeature: onEachFeatureClosure('archent')
        }).setStyle(ArchEntStyle);
        ArchentShapeLayer.addTo(map);
        map.layerscontrol.addOverlay(ArchentShapeLayer, 'Archents (Shapes)');

        var ResearchEventShapeLayer = L.geoJson({{shapes_researchevent|safe }}, {
            onEachFeature: onEachFeatureClosure('researchevent')
        }).setStyle(ResearchEventStyle);
        map.layerscontrol.addOverlay(ResearchEventShapeLayer, 'Research Activities (Shapes)');

        var MonumentProtectionShapeLayer = L.geoJson({{shapes_monumentprotection|safe }}, {
            onEachFeature: onEachFeatureClosure('monumentprotection')
        }).setStyle(MonumentProtectionStyle);
        map.layerscontrol.addOverlay(MonumentProtectionShapeLayer, 'Monument Protection (Shapes)');

    }
</script>
{% endblock %}
