{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load stats_extras %}
{% load webpage_extras %}
{% load leaflet_tags %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block content %}
<div class="jumbotron" style="padding:0;">

    {% leaflet_map "yourmap" callback="window.map_init_basic" %}%}

</div>
<div class="container">
    <h1 style="text-align:center; color: #111;">{% projects_metadata 'title' %}</h1>
        <div class="row" style="padding:10px;">

            <div class="col-md-6">
                <div class="card site-page">
                    <div class="card-body">
                        <h5 class="card-title">Sites</h5>
                        <p class="card-text">Provide some short text.</p>
                        <a href="{% url 'browsing:browse_sites' %}" class="btn btn-outline-secondary" style="color:white; border-color:white;">browse</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card archent-page">
                    <div class="card-body">
                        <h5 class="card-title">Archaelogical Entities</h5>
                        <p class="card-text">Provide some short text.</p>
                        <a href="{% url 'browsing:browse_archents' %}" class="btn btn-outline-secondary" style="color:white; border-color:white;">browse</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-md-6">
                <div class="card researchevent-page">
                    <div class="card-body">
                        <h5 class="card-title">Research Activities</h5>
                        <p class="card-text">Provide some short text.</p>
                        <a href="{% url 'browsing:browse_researchevents' %}" class="btn btn-outline-secondary" style="color:white; border-color:white;">browse</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card monumentprotection-page">
                    <div class="card-body">
                        <h5 class="card-title">Monument Protection</h5>
                        <p class="card-text">Provide some short text.</p>
                        <a href="{% url 'browsing:browse_monumentprotections' %}" class="btn btn-outline-secondary" style="color:white; border-color:white;">browse</a>
                    </div>
                </div>
            </div>
        </div>

    <p>
        {% projects_metadata 'description' %}
    </p>
</div>
<script>
    var SiteStyle = {
        "color": "#F18C8E",
        "weight": 1,
        "opacity": 1,
        "fillOpacity": 0.5,
    };
    function map_init_basic (map, options) {
        var geojsonFeature = {{shapes|safe }};
        var GeoJsonLayer = L.geoJson(geojsonFeature).setStyle(SiteStyle);
        GeoJsonLayer.addTo(map);
        map.fitBounds(GeoJsonLayer.getBounds());
    }
</script>
{% endblock %}
