var SiteStyle = {
    "color": "#003399",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.2,
};

var ArchEntStyle = {
    "color": "#9FAEE5",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.8,
};

var MonumentProtectionStyle = {
    "color": "#fbbf18ff",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.8,
};

var ResearchEventStyle = {
    "color": "#abd91aff",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.8,
};

var ArchConvex = {
    "color": "#fbbf18ff",
    "weight": 1,
    "opacity": 1,
    "fillOpacity": 0.5,
};
