var SiteStyle = {
    "color": "#F18C8E",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.2,
};

var ArchEntStyle = {
    "color": "#F0B7A4",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.8,
};

var MonumentProtectionStyle = {
    "color": "#568EA6",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.8,
};

var ResearchEventStyle = {
    "color": "#F1D1B5",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.8,
};

var ArchConvex = {
    "color": "#F0B7A4",
    "weight": 1,
    "opacity": 1,
    "fillOpacity": 0.5,
};
